/* .center {
    margin: auto;
    width: 50%;
    padding: 10px;
} */
h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.app {
    margin: auto;
    height: 100%;
    width: 100%;
}

.bookshelf {
    margin: auto;
    height: 100%;
    width: 100%;
}

.search-bar-container {
    margin: auto;
    height: 10%;
    width: 90%;
    text-align: center;
}

.search-bar-container input {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.search-results {
    margin: auto;
    width: 50%;
    height: 70%;
    padding: 10px;
    text-align: center;
}

.open-add-book {
    position: fixed;
    right: 25px;
    bottom:25px;
}
/* .bookshelf ol li{

} */